body {
  background-color: #F9F7F7;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: normal;
  color: #3F72AF;
}

h1 {
  color: #3F72AF;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h2 {
  color: #3F72AF;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #112D4E;
}

.card {
  background-color: #DBE2EF;
  padding: 40px;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  width: 500px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.image-circle {
  border-radius: 50%;
  width: 200px;
}

.btn-blue {
  background-color: #3F72AF;
  color: #DBE2EF;
  padding: 10px 20px;
  border-radius: 10px;
}

.social-icon {
  color:rgb(0 0 0 / 10%);
  font-size: 40px;
}

.container {
  width: 600px;
  margin: auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
